body,ul{
    margin:0;
    padding:0;
  }
  input{
    border:0;
  }
  html,body{
    overflow-x: hidden;
  }
  
  img{
    width:100%;
  }
  .geral{
    max-width: 1280px;
    margin:0 auto;
  }
  
  a{
    font-family: sans-serif;
    text-decoration: none;
    color:white;
  }
  
  .wall img{
    background-image:cover;
    background-repeat: no-repeat;
  
  }
  
  #logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
  }
  
  #header{
    display: flex; 
    align-items: center;
    background:#1da1f2;
    height: 60px;
    padding: 0 23px;
    justify-content: space-between;
    width: 100%;
  }
  
  #menu{
    display:flex;
    gap:.5rem;
    list-style: none;
  }
  
  #menu a{
    display: block;
    padding:1.3rem;
    margin-right:-8px;
  }
  
  #menu a:hover{
    background:white;
    color:#1da1f2;
  }
  #btn-mobile{
    display:none;
  }
  
  .fundo{
      top:48%;
      left:50%;
      transform:translate(-50%,-48%);
      -ms-transform:translate(-50%,-448%);
      display:inline-block;
      position:absolute;
      background:rgba(255, 255, 255, 0.1);
      width:440px;
      height:400px;
      border: 1px solid #1da0f269;
      backdrop-filter: blur(3px);
      border-radius:20px;
  }
  
  section.boxlog{
      top:52%;
      left:50%;
      transform:translate(-50%,-48%);
      -ms-transform:translate(-50%,-43%);
      display:inline-block;
      position:absolute;
  }
  
  .logolog{
      position:relative;
      bottom:40px;
      left:170px;
  
  }
  
  .logologo img{
      width:60px;
      height:50px;
      bottom:300px;
      left:170px;
      position: absolute;
      cursor: pointer;
  }
  .logologo img:hover{
      opacity:0.6;
      transition:0.4s;
  }
  
  .email input{
      position:relative;
      bottom:30px;
      height:35px;
      width:400px;
      font-size:20px;
      padding:10px;
      color:#1da1f2;
      border-radius: 10px;
      margin-top:10px;
      border:1px solid #1da1f2;
  }
  .email input::placeholder{
      color:#1da1f2
  }
  
  .email input:focus{
      box-shadow: 0 0 10px #1da1f2;
  
  }
  .senha input{
      position:relative;
      bottom:30px;
      height:35px;
      width:400px;
      font-size:20px;
      padding:10px;
      color:#1da1f2;
      margin-top:10px;
      border-radius: 10px;
      border:1px solid #1da1f2;
  
  }
  .senha input::placeholder{
      color:#1da1f2;
  }
  
  .senha input:focus{
      box-shadow: 0 0 10px #1da1f2;
  }
  
  .container{
     display:block;
     position:relative;
     padding-left:35px;
     bottom:10px;
     cursor: pointer;  
     font-size:17px; 
     color:white;
     padding-top:3px;
  }
  
  .container .forg:hover{
      opacity:0.8;
  }
  
  .container input{
      position:absolute;
      opacity:0;
      cursor:pointer;
  }
  
  .check{
      left:0;
      top:0;
      width:25px;
      height:25px;
      background:#ffffff;
      position:absolute;
      border-radius: 10px;
  }
  
  .container input:checked ~ .check{
      background:#1da1f2;
  }
  
  
  .container .check:after{
      top:5px;
      left:9px;
      width:5px;
      height:10px;
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .check:after{
      content:"";
      position:absolute;
      display:none;
  }
  
  .container input:checked ~ .check:after{
      display:block;
  }
  
  .entrar input{
      position:relative;
      left:40%;
      bottom:42px;
      width:240px;
      height:45px;
      border-radius:20px;
      background:#1da1f2;
      color:white;
      font-size:16px;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
  }
  
  .entrar input:hover{
      background:#30aaf7;
      
  }
  .under{
      position:relative;
      border-bottom:1px solid #1da1f2;
      bottom:22px;
      margin-left:131px;
      width:142px;
      cursor: pointer;  
  }
  
  .user a{
      position: relative;
      text-align: center;
      margin-left:130px;
      bottom:25px;
      font-family: 'Open Sans', sans-serif;
      
  }
  
  .user a:hover{
      opacity:0.6;
  }
  
  .new input{
      position: relative;
      width:200px;
      height:45px;
      margin-left:25%;
      border-radius:20px;
      font-family: 'Open Sans', sans-serif;
      font-size:16px;
      background:#1da1f2;
      color:white;
      cursor: pointer;
  }
  
  .new input:hover{
      background:#30aaf7;
  }
  
  footer{
    position:fixed;
    background: #1da1f2;
    color:white;
    text-align: center;
    font-family: 'Open Sans';
    font-size:18px;
    bottom:0;
    width: 100%;
    
   
  }
  
  @media (max-width:650px){
    #menu{
      display:block;
      position: absolute;
      width: 100%;
      top:60px;
      right:0px;
      background:#1da1f2;
      z-index:1000;
      transition: .6s;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
  
    }
    #nav.Ativado #menu{
      height: calc(100vh - 60px);
      visibility: visible;
      overflow-y: auto;  
    }
  
    #menu a{
    padding: .8rem 0;
    font-family: sans-serif;
    font-size: 19px;
    margin:0 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    color:white;
  }
  
  #menu a:hover{
    background:white;
    color:#1da1f2;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
  
  }
   #btn-mobile{
      display:flex;
      padding:.5rem 1rem;
      font-size: 1rem;
      border: none;
      background:none;
      cursor: pointer;
      gap:.5rem;
    }
  
    #hamburguer{
      width: 0px;
      display: block;
      color:white;
    }
    #hamburguer:after, #hamburguer:before{
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background:currentColor;
      margin-top: 5px;
      transition: .2s;
      position: relative;
      margin-bottom:5px;
      right: 7px;
    }
  
    #nav.Ativado #hamburguer{
      border-top-color:transparent;
    }
    #nav.Ativado #hamburguer:before{
      transform:rotate(135deg);
    }
    #nav.Ativado #hamburguer:after{
      transform:rotate(-135deg);
      top:-8px;
    }
  }
  
  